<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <h1>
    Welcome to {{title}}!
  </h1>

  <label>Server</label>

  <!--<input type="text" class="form-control" (input)="updateServer($event)">
  <p>{{server_name}}</p>-->

  <input type="text" class="form-control" [(ngModel)]="server_name">
  <p>{{server_name}}</p>

  <div class="col-lg-3">
    <p>Hello how are you {{name}}</p>
    <button class="btn btn-primary" [disabled]="!allow_sever" (click)="serverClicked()">ADD</button>
    <p *ngIf="server_created">{{server_status}}</p>

    <p [ngStyle]="{backgroundColor: getColor()}">Server</p>

    <!--<p *ngIf="server_created; else no_server">{{server_status}}</p>-->
    <!--<ng-template #no_server>
      <p>No server is running yet !!</p>
    </ng-template>-->


  </div>

  <div class="col-lg-4">
    <p>He is the creator</p>
  </div>

</div>
